@model WebMotors.TransferObject.Entities.Anuncio

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Anuncio</h4>
<hr />
<div class="row">
    <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="marca" class="control-label"></label>
                <input asp-for="marca" class="form-control" />
                <span asp-validation-for="marca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="modelo" class="control-label"></label>
                <input asp-for="modelo" class="form-control" />
                <span asp-validation-for="modelo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="versao" class="control-label"></label>
                <input asp-for="versao" class="form-control" />
                <span asp-validation-for="versao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ano" class="control-label"></label>
                <input asp-for="ano" class="form-control" />
                <span asp-validation-for="ano" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="quilometragem" class="control-label"></label>
                <input asp-for="quilometragem" class="form-control" />
                <span asp-validation-for="quilometragem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="observacao" class="control-label"></label>
                <input asp-for="observacao" class="form-control" />
                <span asp-validation-for="observacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Gravar" class="btn btn-primary" />
            </div>
    </div>
</div>

<div>
    <a asp-action="Index">Início</a>
</div>

